.table-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[id*=-add]{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    flex: 0 1 100%;
    max-width: 15vw;
    margin: 2rem;
    padding: .4rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 0 black;
    border: 1px solid black;
    background-color: #4D88D8;
    color: white;
    outline: none;
    cursor: pointer;
}

[id*=table-]{
    flex: 1 0 80%;
    margin: 1rem;
    border-collapse: collapse;
    overflow-y: auto;
}

[id*=table-]>tbody>tr>*{
    padding: .4rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

[id*=table-]>tbody>:not(:first-child){
    border: 1px solid rgba(0,0,0, 20%);
}

th{
    background-color: #636CCD;
}

.table-actions{
    display: flex;
    justify-content: space-evenly;
}

.table-btn{
    padding: .4rem;
    margin: 4px;
    width: 4rem;
    border-radius: .2rem;
    box-shadow: 0 4px 0 black;
    border: 1px solid black;
    cursor: pointer;
}
